{% extends 'base.html.twig' %}

{% block content %}


<div
	class="rbt-page-banner-wrapper">
	<!-- Start Banner BG Image  -->
	<div class="rbt-banner-image"></div>
	<!-- End Banner BG Image  -->
</div>

<!-- Start Card Style -->
<div class="rbt-dashboard-area rbt-section-overlayping-top rbt-section-gapBottom">
	<div class="container">
		<div class="row">
			<div class="rbt-dashboard-content-wrapper col-12 col-md-4">
				<div class="tutor-bg-photo bg_image bg_image--23 h-100" style="background-image: url({{asset('build/images/banner/banner-01.png') }});"></div>
				<!-- Start Tutor Information  -->
				<div class=" rbt-tutor-information">
					<div class="rbt-tutor-information-left">
						<div class="tutor-content">

							<h6 class="title">Hola: </h6>
							<h3 class="title">{{app.user.fullName}}</h3>
							<ul class="rbt-meta rbt-meta-white mt--5">
								<li>
									curso:
									{{app.user.grade}}
								</li>
								<li></li>
							</ul>
						</div>
					</div>

				</div>
				<!-- End Tutor Information  -->
			</div>







			<div class="rbt-dashboard-content-wrapper col-12 col-md-8">
				<div class="rbt-card rbt-hover">
					<div class="rbt-card-body">
						<h5 class="rbt-card-title">Mis intereses 🌟
						</h5>
						<div class="rbt-progress-style-1 mt--10">

							{% for interest_name, count in interests %}

							{% set percentage = count * 20 %}

							<div class="single-progress my-3">
								<p class="small mb-0">{{ interest_name }}</p>
								<div class="progress">
									<div class="progress-bar wow fadeInLeft"
										data-wow-duration="0.5s"
										data-wow-delay=".3s"
										role="progressbar"

										style="width: {{ percentage }}%"

										aria-valuenow="{{ percentage }}"
										aria-valuemin="0"
										aria-valuemax="100">
									</div>

									<span class="progress-number">{{ percentage }}%</span>
								</div>
							</div>
							{% endfor %}
						</div>
						<div class="rbt-card-bottom">
							<a class="rbt-btn-link mt-5" href="#" data-bs-toggle="modal" data-bs-target="#interestModal">Ajustar intereses<i class="feather-arrow-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="container">










			<div class="col-12 col-md-12 mb-5 ">

				<form method="GET">

					<div class="row">
						<div class="col-12 col-md-5">
							<div class="filter-select rbt-modern-select text-dark">
								<span class="select-label d-block">Nombre o descripción</span>
								<input type="text" id="search" name="q" value="{{ searchQuery }}">
							</div>
						</div>



						<div class="col-12 col-md-4">
							<div class="filter-select rbt-modern-select ">
								<span class="select-label d-block text-dark">Por Categoría</span>


								<select class="w-100" id="category" name="category" data-live-search="true">
									<option value="">Todas las categorías</option>
									{% for cat in allCategories %}
									<option value="{{ cat.id }}" {% if cat.id == selectedCategory %}selected{% endif %}>
										{{ cat.name }}
									</option>
									{% endfor %}
								</select>



							</div>
						</div>

						<div class="col-12 col-md-3">
							<div class="filter-select">
								<span class="select-label d-block">&nbsp;</span>

								<button type="submit" class="rbt-btn bg-primary-opacity btn-md">
									<span class="btn-icon">Filtrar <i class="feather-filter"></i></span>
								</button>

								<a class="rbt-btn bg-primary-opacity btn-md" href="{{ path('student_courses') }}">
									<span class="btn-icon">Limpiar <i class="feather-x"></i></span>
								</a>

							</div>


						</div>
					</div>

				</form>
			</div>


			<div
				class="row g-5">

				<!-- Start Single Course  -->
				{% set recommendedCourseIds = recommendations|map(r => r.course.id)|keys %}
				{% for course in courses %}
				{# Excluir cursos que ya se mostraron como recomendados #}
				{% if course.id not in recommendedCourseIds %}


				{% set category_map = {				'Filosofía': '01',
														'Matemática': '02',
														'Educación física y salud': '03',
														'Historia, geografía y ciencias sociales': '04',
														'Ciencias': '05',
														'Lengua y literatura': '07',
														'Artes': '09'
													} %}
				{% set image_number = category_map[course.category.name]|default('default') %}

				<div class="col-lg-4 col-md-6 col-12">
					<div class="rbt-card variation-01 rbt-hover">
						<div class="rbt-card-img">
							<img src="{{ asset('build/images/course/' ~ image_number ~ '.png') }}" alt="Imagen del curso de {{ course.category.name }}">
						</div>


						<div class="rbt-card-body">


							<div class="rbt-card-top">
								<div class="rbt-review">
									<span class="rbt-badge-5">{{ course.category.area }}</span>
									<span class="rbt-badge-5">{{ course.category.name }}</span>
								</div>

							</div>


							<h5 class="">
								{{ course.name }}
							</h5>
							<p class="small">{{ course.description }}</p>
							<ul class="rbt-meta">
								<li>
									<i class="feather-user"></i>
									{{ course.teacher.fullName }}
								</li>
								<li>
									<i class="feather-hash"></i>



									{{ enrollmentCounts[course.id] ?? 0 }}
								</li>
								</span>
								/
								{{ course.maxCapacity }}</li>

								{% if enrollmentCounts[course.id] ?? 0 >= course.maxCapacity %}
								<li>
									<i class="feather-book"></i>Lleno
								</li>
								<li>
									{% endif %}

							</ul>


							<div class="rbt-card-bottom">
								<form method="post" action="{{ path('student_enroll', {id: course.id}) }}" class="mt-4">
									{% if course.id in enrolledCourseIds %}
									<button class="rbt-btn bg-secondary-opacity hover-icon-reverse">
										<span class="icon-reverse-wrapper">
											<span class="btn-text">Inscrito</span>
											<span class="btn-icon">
												<i class="feather-check-circle"></i>
											</span>
											<span class="btn-icon">
												<i class="feather-check-circle"></i>
											</span>
										</span>
									</button>
									{% else %}


									<button type="submit" class="rbt-btn btn-gradient hover-icon-reverse">
										<span class="icon-reverse-wrapper">
											<span class="btn-text">Inscribirse</span>
											<span class="btn-icon">
												<i class="feather-arrow-right"></i>
											</span>
											<span class="btn-icon">
												<i class="feather-arrow-right"></i>
											</span>
										</span>
									</button>


									{% endif %}
								</form>
							</div>
						</div>
					</div>
				</div>


				{% endif %}
				{% endfor %}

				<!-- End Single Course  -->


			</div>






		</div>
	</div>
</div>
</div>

<div class="modal fade" tabindex="-1" id="interestModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Que es lo que más te gusta</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">

				<div class="container">
					<div class="row">
						<p class="small">Utiliza los deslizadores para indicar que te interesa (0 = Sin interés, 5 = Máximo interés) y actualiza tus recomendaciones.</p>
					</div>
					<form method="post" action="{{ path('student_profile') }}" id="interests-form">
						{% set categories = [
                            'Filosofía',
                            'Historia, geografía y ciencias sociales',
                            'Lengua y literatura',
                            'Matemática',
                            'Ciencias',
                            'Artes',
                            'Educación física y salud'
                        ] %}
						<div class="row g-5">
							{% for category in categories %}
							<div class="col-lg-6 col-md-6 col-12">
								<div class="card">
									<div class="card-body">
										<label>{{ category }}</label>
										<div>
											<input type="range" name="interests[{{ category }}]" min="0" max="5" value="{{ interests[category] ?? 0 }}" class="form-range" oninput="document.getElementById('output-{{ loop.index }}').innerText = this.value">
											<output class="">
												<span id="output-{{ loop.index }}">{{ interests[category] ?? 0 }}</span>/5
											</output>
										</div>

									</div>
								</div>

							</div>
							{% endfor %}

					</form>
				</div>

			</div>
			<div class="modal-footer">


				<button class="rbt-btn btn-gradient hover-icon-reverse" type="submit" form="interests-form">
					<span class="icon-reverse-wrapper">
						<span class="btn-text">Guardar cambios</span>
						<span class="btn-icon"><i class="feather-arrow-right"></i></span>
						<span class="btn-icon"><i class="feather-arrow-right"></i></span>
					</span>
				</button>

			</div>
		</div>
	</div>
</div>

<!-- End Card Style -->{% endblock %}