{% extends 'base.html.twig' %}

{% block title %}Mis Cursos - Profesor
{% endblock %}

{% block content %}


	<div
		class="rbt-page-banner-wrapper">


		<!-- Start Banner BG Image  -->
		<div class="rbt-banner-image"></div>
		<!-- End Banner BG Image  -->
	</div>

	<!-- Start Card Style -->
	<div class="rbt-dashboard-area rbt-section-overlayping-top rbt-section-gapBottom">
		<div
			class="container">


			<!-- Start Dashboard Top  -->
			<div class="rbt-dashboard-content-wrapper">
				<div class="tutor-bg-photo bg_image height-350" style="background-image: url({{asset('build/images/banner/banner-01.png') }});"></div>
				<!-- Start Tutor Information  -->


				<div class="rbt-tutor-information">
					<div class="rbt-tutor-information-left">
						<div class="thumbnail rbt-avatars size-lg">
							<img src={{app.user.avatarUrl}}/>

						</div>
						<div class="tutor-content">


							<h5 class="title">Hola:
							</h5>
							<h3 class="title">{{app.user.fullName}}</h3>

						</div>
					</div>


				</div>
				<!-- End Tutor Information  -->
			</div>
			<!-- End Dashboard Top  -->


			<div class="mb-4 p-3  rounded">
				<form method="GET">

					<div class="row">
						<div class="col-12 col-md-5">
							<div class="filter-select rbt-modern-select text-dark">
								<span class="select-label d-block">Nombre o descripción</span>
								<input type="text" name="q" placeholder="Buscar en nombre o descripción..." value="{{ searchQuery }}">
							</div>
						</div>

						<div class="col-12 col-md-4">
							<div class="filter-select rbt-modern-select ">
								<span class="select-label d-block text-dark">Por Categoría</span>

								<select name="category" class="w-100" data-live-search="true">
									<option value="">Todas las categorías</option>
									{% for cat in allCategories %}
										<option value="{{ cat.id }}" {% if cat.id == selectedCategory %} selected {% endif %}>
											{{ cat.name }}
										</option>
									{% endfor %}
								</select>
							</div>
						</div>


						<div class="col-12 col-md-3">
							<div class="filter-select text-end">
								<span class="select-label d-block">&nbsp;</span>
								<button type="submit" class="rbt-btn btn-gradient btn-md">Filtrar</button>
								<a href="{{ path('teacher_courses') }}" class="rbt-btn btn-gradient btn-md">Limpiar</a>
							</div>
						</div>


					</div>
				</form>
			</div>


			<div class="container">

				<div
					class="row g-5">

					<!-- Start Single Course  -->

					{% for course in courses %}


						{% set category_map = {				'Filosofía': '01',
														'Matemática': '02',
														'Educación física y salud': '03',
														'Historia, geografía y ciencias sociales': '04',
														'Ciencias': '05',
														'Lengua y literatura': '07',
														'Artes': '09'
													} %}
						{% set image_number = category_map[course.category.name]|default('default') %}

						<div class="col-lg-4 col-md-6 col-12">
							<div class="rbt-card variation-01 rbt-hover">
								<div class="rbt-card-img">
									<img src="{{ asset('build/images/course/' ~ image_number ~ '.png') }}" alt="Imagen del curso de {{ course.category.name }}">
								</div>


								<div class="rbt-card-body">


									<div class="rbt-card-top">
										<div class="rbt-review">
											<span class="rbt-badge-5 me-1 bg-color-primary-opacity ">{{ course.category.area }}</span>
											<span class="rbt-badge-5 bg-color-secondary-opacity">{{ course.category.name }}</span>
										</div>

									</div>


									<h5 class="">
										{{ course.name }}
									</h5>
									<p class="small">{{ course.description }}</p>
									<ul class="rbt-meta">

										<li class="text-muted small">
											<i class="feather-users"></i>
											Estudiantes
											{{ enrollmentsByCourse[course.id]|length }}
											/
											{{ course.maxCapacity }}
										</li>


									</ul>


									<div class="rbt-card-bottom text-end">

										<a class="rbt-btn btn-sm btn-gradient" href="{{ path('teacher_attendance', {id: course.id}) }}">Ver listado</a>
									</div>
								</div>
							</div>
						</div>


					{% endfor %}

					<!-- End Single Course  -->


				</div>


			</div>
		</div>
	</div>
</div>{% endblock %}
